@import "Colours.scss";
@import "Type.scss";
@import "Fonts.scss";
@import "./Breakpoints.scss";

#app {
  min-height: 100vh;
  background-color: $pli-grey;
  color: $pli-white;
}



.heading-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu-container {
  display: flex;
}

.menu-link {
  color: $pli-white !important;
  text-decoration: underline;
  padding: 8px 32px;
}

.section {
  padding: 5vh 5vw;
}

.section-links {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 32px;
}

.pic-link {
  width: 100%;
  height: auto;
}

.pic-img {
  width: 100%;
}

