@import "Colours.scss";
@import "Type.scss";
@import "./Breakpoints.scss";

#app {
  min-height: 100vh;
  background-color: $main-bg;
  color: $main-font;
  font-family: 'Oxygen', sans-serif;
}

.heading-container,
.svg-container,
.text-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

// .svg-container {
//   padding-top: 5%;
// }

.heading-container {
  padding-top: 3%;
  padding: 0 7%;
}

.text-container {
  padding: 5% 7%;
  align-items: flex-start;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
  border-top: 2px solid white;
}

svg {
  background-color: black;
  max-width: 100%;
  text.taylor {
    font: bold 80px sans-serif;
    fill: white;
  }
  text.three {
    font: bold 240px sans-serif;
    fill: white;
  }
}


@media only screen and (min-width: 1200px) {
  .text-container {
    padding: 5% 15%;
  }

  .footer {
    padding: 2%;
  }
}
