@import "Colours.scss";

// Desktop default - You'll be ok
h1 {
  color: $main-font;
  margin-bottom: 24px;
  font: normal normal normal 32px $main-font;
  margin-bottom: 48px;
  margin-top: 64px;
  font-size: 32px;
}

h3 {
  color: $main-font;
  font: normal normal 20px $main-font;
  margin-bottom: 24px;
  font-weight: 400;
}

p, li, span {
  color: $main-font;
  font: normal normal 200 16px/24px $main-font;
}

a {
  font-family: $main-font;
  color: $link !important;
  :hover {
    color: $font-hover !important;
  }
}

.bold {
  font-weight: bold;
}

// Tablet
@media only screen and (min-width: 600px) and (max-width: 1264px) {
  h1 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }
}

// Mobile
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  h3 {
    font-size: 18px;
  }
}
